<!DOCTYPE html>
<html>
  <head>
    <title>DJ DS</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
